<h3>{{title}} - {{displayQuery}}</h3>
<nav>
    <a routerLink="/" routerLinkActive="active">
      <button>Home</button>
    </a>
    <a routerLink="/search" routerLinkActive="active">
      <button>Search For Repositories</button>
    </a>
</nav>

<input name="query" placeholder="Enter Search Here" [(ngModel)]="searchQuery" />
<button (click)="sendQuery()">Submit</button>
<div *ngIf="searchResults; then thenBlock else elseBlock"></div>
<ng-template #thenBlock >
  <div *ngIf="searchResults.items.length > 0 else blankBox">
    <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
    <ul class="list">
      <li [ngClass]="{'silver': (i % 2 === 0)}" class="list_item" *ngFor="let result of searchResults.items; index as i;" >
        <a [href]="result.html_url">
          <img class="avatar" [src]="result.owner.avatar_url" /> 
          <h4 class="title">{{result.name}} 
            <small> by {{result.owner.login | uppercase}}</small> 
          </h4>
        </a> 
        <p class="description"> {{result.description}}</p> 
        <p> Created On: {{result.created_at | date:'fullDate'}} </p>
      </li>
    </ul>
  </div>
  <ng-template #blankBox><h3 class="total">Total Results: {{searchResults.total_count}} aka Empty</h3></ng-template>
</ng-template>
<ng-template #elseBlock>Loading...</ng-template>